.irs {

    &--round {
        height: 80px;

        .irs-bar {
            background-color: #37474f;
            height: 5px;
        }

        .irs-handle {
            border-color: $main-color;
            width: 18px;
            height: 18px;
            top: 29px;
            cursor: grab;
        }

        .irs-line {
            height: 5px;
            background-color: #f2f5f8;
        }

        .irs-from,
        .irs-to,
        .irs-single {
            top: 50px;
            background-color: transparent;
            color: #78909c;
            font-size: 15px;
            padding-top: 8px;

            &:before {
                display: none;
            }
        }
    }
}