.wrapper {
	display: flex;
	flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  font-family: $f-family-base;
  
  &_flexfix {
    display: flex;
  }
  
}

.header,
.footer {
	flex-shrink: 1;
	width: 100%;
}

.header_content{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;

  &-col{
    flex-grow: 0;
    margin-right: 20px;

 

    &:nth-of-type(1){
    flex-grow: 1;
    }
    &:last-of-type{
      margin: 0;
      }
  }
}

.header_text{
  display: inline-block;
  font-size: 15px;
  color: #546e7a;
}

.fa-shopping-cart{
  position: relative;
}

.fa-shopping-cart::before{
  content: '\f07a';
  font-family: 'FontAwesome';
  color: #a0a0a0;
}

.text_red{
  color: $second-main-color;
}

.btn{
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  outline:none;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  color: #fff;



  &_cart{
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
  }

  &_login{
    background-color: $main-color;
  }

  &_register{
    background-color: $second-main-color;
  }

}


.red_circle{
  background-color: red;
  width: 18px;
  height: 18px;
  display: inline-block;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 50%;
}


.nav{
  flex-direction: row;
  display: flex;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  >ul{
    display: flex;
    >li{
      padding-right: 35px;
      position: relative;

      >a {
        color: white;
      }
    }   
  }
}

.main {
	flex-grow: 1;
	width: 100%;
}

.container-dark-grey {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 618px;
  font-family: $f-family-base;
  background-color: $second-background-color;
}

.container-dark-grey h2 {
  font-size: 36px;
  text-transform: capitalize;   
  color: #fff;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 80px;
}

.flex_row-grey {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_col-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round {

  width: 90px;
  height: 90px;
  background-color: #b5b5b5;
  border-radius: 50%;

  &:hover {
    background-color: #d4d4d4;
  }
}

.text-center {
  color: #b0bec5;
  line-height: 1.5;
  text-align: center;

>h4 {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  
    &:hover {
      color: $main-color;
    }
  }
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Styles for banner "Welcome"*/

.welcome{
  background-size: cover;
  min-width: 100vh;
  width: 100%;
}

.welcome_text {
	color: $white;
	font-family: $f-family-base;
	text-align: center;
	margin: 160px 0 55px 0;

	p {
		font-size: 20px;
		font-weight: 300;
	}
}

h1 {
	font-size: 48px;
  text-transform: capitalize;  
}

.form_input-holder{
    max-width: 670px;
    margin: 0 auto;
    text-align: center;
    position: relative;

       .form_input{
       width: 670px;
       margin-bottom: 170px;
       padding: 25px;
       outline: none;
       font-size: $f-size-base;
       border-radius: 4px;
       border: 1px solid #e5e5e5;

         &:focus{
         box-shadow: 1px 1px 10px rgba(139, 195, 74, .75);
         }

       }
}

.icon-search{
    position: absolute;
    z-index: 2;
    font-size: 25px;
    color: #90a4ae;
    top: 20px;
    right: 4%;
  }

input::-webkit-input-placeholder {
    color: #90a4ae;
    letter-spacing: .1em;

}
input:-moz-placeholder {
	color: #90a4ae;
	letter-spacing: .1em;
}

.tabs {
  
  &_tab {

    &:not(:first-child){
      display: none;
    }
  }
}


.product{

  &_card {

    position: relative;

      &-img{
          display: block;
      }

      &-info {
          display: flex;
          border-bottom: 1px solid #e7ecf2;
          padding: 25px 25px 15px;
      }
  }

  &_label {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 0;
    height: 0;

    &:before{
      content:'';
      position: absolute;
      top: 0;
      left: 0;
      border-style: solid;
      border-width: 64px 64px 0 0;
      width: 0;
      height: 0;

    }

    &:after{
      content: '';
      color: $white;
      font-family: "FontAwesome";
    }

    &--hit{
      &:before{
        border-color: $main-color transparent transparent transparent;

      }
      &:after {
        content:'\f0e7';
        position: absolute;
        top: 12px;
        left: 15px;
      }
    }
  }
}

/* Sryles for Tutorial */

.flex_col--1-3{
  padding: 0 15px;
}


.tutorials_text {
  background-color: #f8f8f8;
  text-align: center;
  margin-bottom: 120px;

  h4{
    font-size: 21px;
    letter-spacing: 1px;
    color: $dark-blue;
    margin: 0;
    padding: 40px 70px;
  }
}

.image-tutorials { 
    display: block;
    max-width: 100%;
    height: auto;
}

.flex_container h2 {
  margin: 0;
  font-size: 36px;
  text-transform: capitalize;   
  color: $dark-blue;
  text-align: center;
  padding: 125px 50px; 
}
