.wrapper {
	display: flex;
	flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  font-family: $f-family-base;
  
  &_flexfix {
    display: flex;
  }
  
}

.header,
.footer {
	flex-shrink: 1;
	width: 100%;
}

.header_content{
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 1;

  &-col{
    flex-grow: 0;
    margin-right: 20px;

 

    &:nth-of-type(1){
    flex-grow: 1;
    }
    &:last-of-type{
      margin: 0;
      }
  }
}

.header_text{
  display: inline-block;
  font-size: 15px;
  color: #546e7a;
}

.fa-shopping-cart{
  position: relative;
}

.fa-shopping-cart::before{
  content: '\f07a';
  font-family: 'FontAwesome';
  color: #a0a0a0;
}

.text_red{
  color: $second-main-color;
}

.btn{
  font-size: 12px;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  outline:none;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  color: #fff;



  &_cart{
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #f5f5f5;
  }

  &_login{
    background-color: $main-color;
  }

  &_register{
    background-color: $second-main-color;
  }

}


.nav{
  flex-direction: row;
  display: flex;
  height: 60px;
  justify-content: flex-start;
  align-items: center;
  >ul{
    display: flex;
    >li{
      padding-right: 35px;
      position: relative;

      >a {
        color: #fff;
      }



    }
    
  }
}

.main {
	flex-grow: 1;
	width: 100%;
}

// input{
//   box-shadow: 1px 1px 10px rgba(139, 195, 74, .75);
// }

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
