.flex {
    &_container{
        max-width: 1200px;
        width: 100%;
        padding: 0 15px;
    }

    &_row {
        margin: 0 -15px;
        display: flex;
    }

    &_col {
        padding: 0 15px;
        width: 100%;
        &--1-3 {
            width: calc(100% / 3)
        }

        &--1-2 {
            width: 50%;
        }

        &--1-4 {
            width: 25%;
        }
    }
}
