// 1. Basic variables
	// 1.1 Colors
$black: #000;
$white: #fff;

	// 1.2 Other

// 2. Work variables
	// 2.1 Colors
$main-color: $black;

	// 2.2 Typography (fonts and text variables)
$text-color: $black;

$f-family-base: 'Open Sans', sans-serif;
$f-size-base: 14px;

	// 2.3 Media
		// 2.3.1 Mobile first
$desktop: 1024px;
$tablet: 768px;
$phone: 640px;

		// 2.3.2 Desktop first
$desktop-df: 1023px;
$tablet-df: 767px;
$phone-df: 639px;

	// 2.4 Other
$b-radius-base: 3px;

	// 2.5 Forms
$input-color: $text-color;
$input-border-color: $black;
$input-border-focus: $main-color;

	// 2.6 Nav and links
$link-main-color: $main-color;
$link-main-hover: darken($link-main-color, 20%);
$link-active-hover: darken($link-main-color, 20%);

$nav-color: $main-color;
$nav-hover: darken($nav-color, 20%);

	// 2.7 Buttons
$btn-main-color: $black;
$btn-main-border: $black;
$btn-main-bg: $white;
$btn-main-hover: darken($btn-main-bg, 20%);
